Hangar_to_InfluxDB_Flow.json
[
    {
        "id": "e6a908fbed865c61",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cced999f6b3f18ae",
        "type": "mqtt in",
        "z": "e6a908fbed865c61",
        "name": "Mosquitto MQTT Broker",
        "topic": "hangar/enviro_sensors/#",
        "qos": "0",
        "datatype": "json",
        "broker": "4762a62d84b6421e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "fbb804ec778ecaea",
                "d45a1f858083de8e"
            ]
        ]
    },
    {
        "id": "fbb804ec778ecaea",
        "type": "debug",
        "z": "e6a908fbed865c61",
        "name": "Rawish MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "33c84aa63e960b87",
        "type": "influxdb out",
        "z": "e6a908fbed865c61",
        "influxdb": "82a76c87521df31c",
        "name": "",
        "measurement": "enviro_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "enviro_data",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1340,
        "y": 180,
        "wires": []
    },
    {
        "id": "d45a1f858083de8e",
        "type": "function",
        "z": "e6a908fbed865c61",
        "name": "JSON-Influx Translator",
        "func": "msg.payload = {\n    temperature:  msg.payload.temperature,\n    humidity:  msg.payload.humidity,\n    dewpoint:  msg.payload.dewpoint\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 180,
        "wires": [
            [
                "33c84aa63e960b87",
                "b51bfc150854f600"
            ]
        ]
    },
    {
        "id": "b51bfc150854f600",
        "type": "debug",
        "z": "e6a908fbed865c61",
        "name": "JSON Object",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 260,
        "wires": []
    },
    {
        "id": "4762a62d84b6421e",
        "type": "mqtt-broker",
        "name": "MQTT Docker",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "82a76c87521df31c",
        "type": "influxdb",
        "hostname": "http://influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "enviro_data",
        "name": "Influx Enviro_Data",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.8-flux",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    }
]